.wrapper {
	margin-left: 20rem;
}

.inner-div {
	margin-left: 5rem;
}

.top-spacing {
	margin-top: 5rem;
}

.spinner-wrapper {
	margin-top: 2rem;
	display: flex;
}

mat-spinner {
	margin-right: 1rem;
}

img {
	width: 40px;
}
