<div class="content">
	<h1>{{'credential-def-selection.title' | translate}}</h1>
	<div class="div-content">
		<p><mat-checkbox color="primary"
						 [checked]="allComplete"
						 (change)="setAll($event.checked)">
			{{'credential-def-selection.all-cb' | translate}}
		</mat-checkbox></p>
		<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
			<p><mat-checkbox class="half-width indent" color="primary" *ngFor="let claim of claims" formControlName="{{claim}}">{{claim}}</mat-checkbox></p>
			<hr>
			<button class="btn blue-btn" type="submit" [disabled]="isNoneChecked()">{{'credential-def-selection.continue-btn' | translate}}</button>
			<button class="btn gray-btn" routerLink="/">{{'credential-def-selection.back-btn' | translate}}</button>
		</form>
	</div>
</div>
